body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-bottom:last-child {
  border-bottom: none !important;
}

.text-align-end {
  text-align: end;
}

.flex-3 {
  flex: 3;
}

.flex-2 {
  flex: 2;
}
